<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="accountbal">
        <h2>Account Balance</h2>
        <div id="balance">Your balance: $0.00</div>
    </div>

    <div class="transaction">
       Quick Transaction
        Amount
        Type
        Description
    </div>
</body>
</html>