<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="accountbal">
        <h2>Account Balance</h2>
        <div id="balance">Your balance: $0.00</div>
    </div>

    <div class="transaction">
        <h3>Quick Transaction</h3>
        <form id="transactionForm">
            <h4>Amount</h4>
            <input type="number" id="transactionAmount" required> 
            <h4>Type</h4>
            <select id="transactionType" required>
                <option value="deposit">Deposit</option>
                <option value="withdraw">Withdraw</option>
            </select>
            <h4>Description</h4>
            <input type="text" id="transactionDescription" required> 
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <script src="/transauth.js"></script>
</body>
</html>